/*primary-color*/
$primary-color: #365902;
/*tints*/
$primary-color-tint-2: #5b793e;

/*secondary-color*/
$secondary-color: #A62F14;

/*neutral-colors*/
$neutral-color-1: #212121;
$neutral-color-2: #474747;
$neutral-color-3: #717171;
$neutral-color-4: #9E9E9E;
$neutral-color-white: #FFFFFF;
$neutral-color-bg: #F1F1F1;
