main {
    .titulo-imagen {
        display: grid;
        grid-template-columns: repeat(12, 78px); 
        grid-template-rows: repeat(3,auto);
        gap: 24px; 
        padding: 20px; 
        max-width: 1200px; 
        margin: 0 auto; 

        .titulo {
            grid-column: 1 / span 9;

            h1 {
                font-family: Quicksand;
                font-size: map-get($type-scale , heading-md-bold);
                text-align: left;
                padding-top: 6rem;
            }
        }

        .guardarEn {
            grid-column: 11 / span 2;
            display: flex;
            align-items: center;

            label {
                cursor: pointer; 
                text-decoration: none;
                font-family: Quicksand;
                font-size: map-get($type-scale , body-sm-regular);
                color: #9E9E9E;

                .icono {
                    width: 24px; 
                    height: 24px;
                    margin-right: 5px; 
                    vertical-align: middle; 
                }
            }
        }

        .calificación {
            grid-column: 1 / span 2;

            p {
                font-family: Quicksand;
                font-size: map-get($type-scale , label-sm-md);
            }
        }

        .imagen-principal {
            grid-column: 1 / span 12;
            height: 390px;
            border-radius: 20px;
            background-size:unset;
            background-position:absolute;
            object-fit: cover;
        }
    }

    .ingredientes {
        display: grid;
        grid-template-columns: repeat(12, 78px); 
        grid-template-rows: repeat(3,auto);
        gap: 24px; 
        padding: 20px; 
        max-width: 1200px; 
        margin: 0 auto;

        h2 {
            grid-column: 1 / span 6;
            font-family: Quicksand;
        }

        .lista-ingredientes{
            grid-column: 1 / span 6;
            list-style: none;
            padding: 0;
            li {
                border-bottom: 1px solid #ddd;
                font-family: Quicksand;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                padding-top: 1rem;
                padding-bottom: 1rem;

                span {
                    color: $secondary-color;
                }
            }
        }
    }

    .instrucciones {
        display: grid;
        grid-template-columns: repeat(12, 78px); 
        grid-template-rows: repeat(4,auto);
        gap: 24px; 
        padding: 20px; 
        max-width: 1200px; 
        margin: 0 auto;

        h2 {
            grid-column: 1 / span 6;
            font-family: Quicksand;
        }
        
        .pasos-receta {
            grid-column: 1 / span 6;

            h3 {
                font-family: Quicksand;
                font-size: map-get($type-scale , heading-xs-regular);
                padding-top: 1rem;
                font-weight: 400;
            }

            p {
                font-family: Quicksand;
                font-size: map-get($type-scale, body-sm-regular);
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            img {
                padding-bottom: 1rem;
            }

            .divider-paso {
                grid-column: 1 / span 6;
                background-color: #ccc;
                height: 1px;
            }
        }
    }

    .recetas-relacionadas {
        display: grid;
        grid-template-columns: repeat(12, 78px); 
        grid-template-rows: repeat(4,auto);
        gap: 24px; 
        padding: 20px; 
        max-width: 1200px; 
        margin: 0 auto;

        h2 {
            grid-column: 1 / span 6;
            font-family: Quicksand;
        }

        .card1 {
            @extend .card;
            grid-column: 1 / span 3; 
            padding-right: 24px;

            p{
                font-family: Quicksand;
                font-size: map-get($type-scale, label-sm-md)
            }
        }

        .card2 {
            @extend .card;
            grid-column: 4 /span 3; 
            padding-right: 24px;

            p{
                font-family: Quicksand;
                font-size: map-get($type-scale, label-sm-md)
            }
        }

        .card3 {
            @extend .card;
            grid-column: 7 /span 3; 
            padding-right: 24px;

            p{
                font-family: Quicksand;
                font-size: map-get($type-scale, label-sm-md)
            }
        }

        .card4 {
            @extend .card;
            grid-column: 10 /span 3; 
            padding-right: 24px;

            p{
                font-family: Quicksand;
                font-size: map-get($type-scale, label-sm-md)
            }
        }
    }
}