main {
/*recipes-section*/
    .populares {
        
        h2 {
            font-family: Quicksand;
            color: #212121;
            font-size: map-get($type-scale, heading-md-bold);
            padding-left: 145px;
            padding-top: 6rem;
            padding-bottom: 3rem;
        }


        .container-Cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
            gap: 1.5rem;
            padding-bottom: 6rem;
            
            .card1 {
                @extend .card;

                p {
                    font-family: Quicksand;
                }
            }
    
            .card2 {
                @extend .card;

                p {
                    font-family: Quicksand;
                }
            }
    
            .card3 {
                @extend .card;

                p {
                    font-family: Quicksand;
                }
            }
    
            .card4 {
                @extend .card;

                p {
                    font-family: Quicksand;
                }
            }
        }
    } 
/*ingredients-section*/    
    .recetasIngredientes {

        h2 {
            font-family: Quicksand;
            color: #212121;
            font-size: map-get($type-scale , heading-md-bold);
            padding-left: 145px;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .containerCardingredientes {
            background-color:none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
            gap: 1.5rem;

            .cardIngredientes1 {
                background-color: none;
                width: 180px;
                height: 216px;
                display: flex;
                flex-direction: column;
                align-self: center;
                transition: all 400ms ease;

                p {
                    padding-top: 16px;
                    font-family: Quicksand;
                    font-size: map-get($type-scale, body-sm-regular);
                    text-align: center;
                }
            }

            .cardIngredientes1:hover {
                box-shadow: 5px 5px 20px rgba (0,0,0,2);
                transform:translateY(-3%);
            }

            .cardIngredientes2 {
                background-color: none;
                width: 180px;
                height: 216px;
                display: flex;
                flex-direction: column;
                align-self: center;
                transition: all 400ms ease;

                p {
                    padding-top: 16px;
                    font-family: Quicksand;
                    font-size: map-get($type-scale, body-sm-regular);
                    text-align: center;
                }
            }

            .cardIngredientes2:hover {
                box-shadow: 5px 5px 20px rgba (0,0,0,2);
                transform:translateY(-3%);
            }

            .cardIngredientes3 {
                background-color: none;
                width: 180px;
                height: 216px;
                display: flex;
                flex-direction: column;
                align-self: center;
                transition: all 400ms ease;

                p {
                    padding-top: 16px;
                    font-family: Quicksand;
                    font-size: map-get($type-scale, body-sm-regular);
                    text-align: center;
                }
            }

            .cardIngredientes3:hover {
                box-shadow: 5px 5px 20px rgba (0,0,0,2);
                transform:translateY(-3%);
            }

            .cardIngredientes4 {
                background-color: none;
                width: 180px;
                height: 216px;
                display: flex;
                flex-direction: column;
                align-self: center;
                transition: all 400ms ease;

                p {
                    padding-top: 16px;
                    font-family: Quicksand;
                    font-size: map-get($type-scale, body-sm-regular);
                    text-align: center;
                }
            }

            .cardIngredientes4:hover {
                box-shadow: 5px 5px 20px rgba (0,0,0,2);
                transform:translateY(-3%);
            }

            .cardIngredientes51 {
                background-color: none;
                width: 180px;
                height: 216px;
                display: flex;
                flex-direction: column;
                align-self: center;
                transition: all 400ms ease;

                p {
                    padding-top: 16px;
                    font-family: Quicksand;
                    font-size: map-get($type-scale, body-sm-regular);
                    text-align: center;
                }
            }

            .cardIngredientes51:hover {
                box-shadow: 5px 5px 20px rgba (0,0,0,2);
                transform:translateY(-3%);
            }
        }
    }
}
