@media (max-width: 768px) {

    .receta {
        display: grid;
        grid-template-columns: repeat(8, 58px); 
        grid-template-rows: repeat(8,auto);
        gap: 24px; 
        padding: 20px; 
        max-width: 604px; 
        margin: 0 auto; 
    }

    .titulo {
        grid-column: 1 / span 6;

        h1 {
            font-family: Quicksand;
            font-size: map-get($type-scale, heading-sm-bold);
            text-align: left;
            padding-top: 6rem;
        }
    }

    

}